* {
    margin: 0;
    padding: 0;
    
  }

  @font-face {
    font-family: 'Formula1-Display-Bold-Bold';
    src:  url('/fonts/formula1/Formula1-Display-Bold-Bold.ttf.woff') format('woff'),
    url('/fonts/formula1/Formula1-Display-Bold-Bold.ttf.svg#Formula1-Display-Bold-Bold') format('svg'),
    url('/fonts/formula1/Formula1-Display-Bold-Bold.ttf.eot'),
    url('/fonts/formula1/Formula1-Display-Bold-Bold.eot?#iefix') format('embedded-opentype'); 
  }

  

body{
    background-color: #242320;
    font-family:"Titillium Web"
}
header{
    background-color: #121212;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    img{
        height: 100px;
    }
}


h1{
   
    font-family: 'Formula1-Display-Bold-Bold';
    font-size: 70px;
    color: #fff;
    margin-left: 20px;
    font-style: italic;
   
}
nav{
    display: flex;
    align-items: center;
    
    margin-bottom: 20px;
    
    a{
        flex: auto;
        text-decoration: none;
        background-color: #e10600;
        border-color: transparent;;
        margin-bottom: 0% 2%;
        padding: 15px 12px;
        color: rgb(255, 255, 255);
        font-size: 20px;
        text-align: center;
        font-weight: 500;

        
            
    }
    a:hover{
        background-color: #121212;
        color: rgb(255, 255, 255);
    }


}

footer{
    background-color: #e10600;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    font-family: "Titillium Web";
    margin-top: 20px;
}
