section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 10px;
}

article{
    width: 20vw;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: #444444 0px 0px 5px;
    margin: 10px 15px;
    display: block;
    float: left;

    h2{
        text-align: center;
    }
}
    .red:hover {
        background-color: #121f45;
        color: #ffc906;
        box-shadow: #cc1e4a 0px 0px 10px;
        transition: all 0.5s ease-in-out;
        transform: scale(1.03);
        
    }
    .mc:hover{
        background-color: #ff8000;
        color: #000000;
        box-shadow: #47c7fc 0px 0px 10px;
        transition: all 0.5s ease-in-out;
        transform: scale(1.03);
    }
    .sau:hover{
        background-color: #52e252;
        color: #000000;
        box-shadow: #009817 0px 0px 10px;
        transition: all 0.5s ease-in-out;
        transform: scale(1.03);
    }
    .rb:hover{
        background-color: #1634cc;
        color: #ffffff;
        box-shadow: #020de5 0px 0px 10px;
        transition: all 0.5s ease-in-out;
        transform: scale(1.03);
    }
    .alp:hover{
        background-color: #fd4bc7;
        color: #ffffff;
        box-shadow:  #0078c1 0px 0px 10px;
        transition: all 0.5s ease-in-out;
        transform: scale(1.03);
    }
    .ast:hover{
        background-color: #00352f;
        color: #ffffff;
        box-shadow: #cedc00 0px 0px 10px;
        transition: all 0.5s ease-in-out;
        transform: scale(1.03);
    }
    .mer:hover{
        background-color: #00a19c;
        color: #111111;
        box-shadow: #80142b 0px 0px 10px;
        transition: all 0.5s ease-in-out;
        transform: scale(1.03);
    }
    .fer:hover{
        background-color: #a6051A;
        color: #ffeb00;
        box-shadow: #ffeb00 0px 0px 10px;
        transition: all 0.5s ease-in-out;
        transform: scale(1.03);
    }
    .wil:hover{
        background-color: #041e42;
        color: #00a3e0;
        box-shadow: #e40046 0px 0px 10px;
        transition: all 0.5s ease-in-out;
        transform: scale(1.03);
    }
    .haas:hover{
        background-color: #f62039;
        color: #f2f2f2;
        box-shadow: #295294 0px 0px 10px;
        transition: all 0.5s ease-in-out;
        transform: scale(1.03);
    }

img{
    border-radius: 3px;
    justify-self: center;
    width: 100%;
    height: auto;
}
a{
    text-decoration: none;
    color: #000000;
}
