strong{
    font-family: 'Formula1-Display-Bold-Bold';
}

.pil{
    font-family: 'Formula1-Display-Bold-Bold';
    background-color: black;
    
}
.card{
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}
